{% extends "encyclopedia/layout.html" %}

{% block title %} 
Wiki 
{% endblock %} 

{% block body %} 
<h1>Search Results for "{{title}}":</h1>
{% if partialmatchs %}
  <p>Related Results:</p>
    <ul>
      {% for title in partialmatchs %}
      <li><a href="{% url 'entry' title=title %}">{{title}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
  <p>No search results found for "{{title}}" on Wiki.</p>
  <p>Check the <a href="{% url 'index' %}">index</a> page to see available articles.</p>
  {% endif %}

{% endblock %}