{% extends "encyclopedia/layout.html" %}

{% block title %} 
Wiki 
{% endblock %} 

{% block body %}
    <h1>Search Results for "{{ title }}"</h1>
    {% if partial_matches %}
        <p>Here are some pages that match your search:</p>
        <ul>
            {% for match in partial_matches %}
                <li><a href="{% url 'wiki:wikientry' match|safe %}">{{ match }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No pages found that match your search.</p>
    {% endif %}
{% endblock %}

